<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="debug" debug="true">
    <!-- 控制台 -->
    <appender name="console.CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n" />
        </layout>
    </appender>
     
    <!-- 每天的日志 -->
    <appender name="file.text.DATE.FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="threshold" value="info" />
        <param name="file" value="${catalina.home}/apilogs/api_debug.date.log" />
        <param name="append" value="true" />
        <param name="datePattern" value="'.'yyy-MM-dd" />
        <!-- <param name="datePattern" value="'.'yyy-MM-dd-HH"/> -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n" />
        </layout>
    </appender>
 
     
    <!-- HTML形式的错误日志 -->
    <appender name="file.html.HTML" class="org.apache.log4j.RollingFileAppender">
        <param name="threshold" value="error" />
        <param name="file" value="${catalina.home}/logs/api_error.log.html" />
        <param name="maxFileSize" value="1M" />
        <param name="maxBackupIndex" value="5" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.HTMLLayout" />
    </appender>
 
    <!-- XML形式错误日志 -->
    <appender name="file.xml.XML" class="org.apache.log4j.RollingFileAppender">
        <param name="threshold" value="error" />
        <param name="file" value="${catalina.home}/logs/api_error.log.xml" />
        <param name="maxFileSize" value="1M" />
        <param name="maxBackupIndex" value="5" />
        <param name="append" value="true" />
        <layout class="org.apache.log4j.xml.XMLLayout" />
    </appender>
    <!-- 邮件日志 -->
    <appender name="mail.MAIL" class="org.apache.log4j.net.SMTPAppender">
        <param name="threshold" value="debug" />
        <param name="BufferSize" value="10" />
        <param name="From" value="ouyangyun0979@sina.com" />
        <param name="SMTPHost" value="smtp.sina.com" />
        <param name="Subject" value="uhooapi-log4j-Message" />
        <param name="To" value="yangyun@uhoo100.com" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n" />
        </layout>
    </appender>
    
    <root>
        <priority value="debug" />
        <appender-ref ref="console.CONSOLE" />
        <appender-ref ref="file.text.DATE.FILE" />
    </root>
</log4j:configuration>
